.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.wave-img {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 26px;
  color: #551e53;
  font-family: 'Roboto';
  margin-left: 10px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.list-item {
  color: #551e53;
  font-size: 26px;
  font-weight: 600;
  margin-left: 20px;
}
